@using BugTracker.Models
@model List<UserRoleViewModel>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        //initialize the javascript
        //Basic Instance
        $("#table_id_roles").dataTable();
        //Search input style
        $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
        $('.dataTables_length select').addClass('form-control');
    }
    );
</script>

<div class="page-head">  </div>
<div class="row">
    <div class="col-md-8">
        <div class="block-flat">
            <div class="header">
                <h3>Projects User Table</h3>
            </div>
            <div class="content">
                <div class="table-responsive">
                    <form method="post" action="@Url.Action("EditUserRoles", "Roles")">
                        @*<table style="width:100%" class="table table-striped table-bordered table-condensed">*@
                        <table class="table table-bordered" id="table_id_roles_x">
                            <thead>
                                <tr>
                                    <th data-halign="right" data-align="center">User Name</th>
                                    <th data-halign="right" data-align="center">Admin</th>
                                    <th data-halign="right" data-align="center">Developer</th>
                                    <th data-halign="right" data-align="center">Project Manager</th>
                                    <th data-halign="right" data-align="center">Submitter</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Count; i++)
                                {
                                    <tr class="data-row">
                                        <td>
                                            @Model[i].name
                                            @Html.Hidden("users[" + i + "].userId", Model[i].userId)
                                            @Html.Hidden("users[" + i + "].name", Model[i].name)
                                        </td>
                                        <td>
                                            @Html.CheckBox("users[" + i + "].admin", Model[i].admin, new { @class = "icheck" })
                                        </td>
                                        <td>
                                            @Html.CheckBox("users[" + i + "].developer", Model[i].developer)
                                        </td>
                                        <td>
                                            @Html.CheckBox("users[" + i + "].projectManager", Model[i].projectManager)
                                        </td>
                                        <td>
                                            @Html.CheckBox("users[" + i + "].submitter", Model[i].submitter)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-color" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

