@model IEnumerable<BugTracker.Models.TicketAttachment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="block-flat">
            <div class="header">
                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ticket.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FilePath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Decsription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FileUrl)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.Title)
                            </td>
                            <td>
                                <hr>
                                @if (item.FilePath != null)
                                {
                                    <a href=@Url.Content(item.FilePath)>Click me!</a>
                                    @*<img class="img-responsive" src=@Url.Content(item.FilePath) alt="">*@
                                }
                                <hr>

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Decsription)
                            </td>
                            <td>
                                @item.Created.ToString("MM/dd/yy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileUrl)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>